html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
  /* Margin bottom by footer height * 2 */
  margin-bottom: 120px;
}

#content {
  margin-top: 15px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #666;
	color: #FFF;
	padding: 20px 0;
}