html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
  /* Margin bottom by footer height * 2 */
  margin-bottom: 120px;
}

#content {
  margin-top: 15px;
}

#footer, #viewswitch_desktop {
  position: absolute;
  width: 100%;
}

#footer {
  bottom: 0px;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #666;
	color: #FFF;
	padding: 20px 0;
}

#viewswitch_desktop {
  bottom: 60px;
  height: 40px;
  background-color: #EEE;
	color: #666;
	padding: 10px 0;
}

#viewswitch_mobile {
	position:fixed;
	width:100%;
	top:0;
	height:160px;
	background-color:#000;
	text-align:center;
	padding-top:70px;
}

#viewswitch_mobile small {
	font-size: 1.6em;
}

.viewswitch_contentspacer_top {
	top: 0;
	width:100%;
	height: 160px;
}
.viewswitch_contentspacer_bottom {
	top: 0;
	width:100%;
	height: 40px;
}

@media (max-width: 580px) {
	.baseapp-actions {
		display:block;
		clear: both;
	}
	.baseapp-actions ul li {
		padding-top: 10px;
	}
}
@media (max-width: 430px) {
	.baseapp-action-right {
		float: left !important;
	}
}