body {
  padding-top: 50px;
  padding-bottom: 100px;
}

#content {
  padding-top: 15px;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  color: #FFFFFF;
  background-color: #666;
  padding: 20px;
}

.like, .like:hover, .like:active, .like:visited {
	text-decoration: none;
	color: #000;
}