{{set . "title" .post.Title}}

{{set . "action" "post/show"}}

{{template "header.html" .}}

<h2>{{.post.Title}}</h2>

<a href="{{url "Profile.Show" .profile.UserName}}">
  <div class="media">
    <span class="pull-left">
      <img class="img-responsive img-rounded" src="{{.profile.PhotoUrl}}" alt="Profile Photo" width="20" height="20" style="border: 1px solid #666">
    </span>
    <div class="media-body">
      <span class="media-heading" style="padding-top:4px">{{.profile.Name}}</span>
    </div>
  </div>
</a>

<div style="padding: 30px 0">
  {{.postContentHTML}}
</div>

<div>
	<button type="button" data-href="{{url "Post.Like" .profile.UserName .post.PostId}}" class="btn btn-link like">
		<b class="glyphicon glyphicon-heart{{ if eq .post.AggregateLikes 0 }}-empty{{end}}"></b>
		<span class="text"></span>
		<span class="badge">{{.post.AggregateLikes}}</span>
	</button>
</div>

<hr>

{{if .isOwner}}

<p>
  <a href="{{url "Post.Edit" .user.UserName .post.PostId}}">Edit this post</a>
</p>

<p>
  <a href="{{url "Post.Remove" .user.UserName .post.PostId}}">Delete this post</a>
</p>

{{end}}

{{template "footer.html" .}}
