{{append . "moreScripts" "/public/js/jquery.validate.min.js"}}
{{append . "moreScripts" "/public/js/jquery.validate.password.js"}}
{{append . "moreScripts" "/public/js/forms/register.js"}}

{{append . "moreStyles" "/public/css/password-meter.css"}}

{{set . "title" "Register"}}

{{set . "action" "account/register"}}

{{template "header.html" .}}

<h2>Register</h2>

<hr>

<form action="{{url "Account.SaveUser"}}" method="POST" class="form-horizontal" id="register-user" role="form">
  {{with $field := field "name" .}}
  <div class="form-group{{if $field.Error}} has-error{{end}}">
    <label for="{{$field.Name}}" class="col-sm-3 control-label">Full name</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="{{$field.Name}}" name="{{$field.Name}}" placeholder="Full name" value="{{$field.Flash}}" autofocus>
      {{if $field.Error}}
      <label class="control-label" for="{{$field.Name}}">{{$field.Error}}</label>
      {{end}}
    </div>
  </div>
  {{end}}

  {{with $field := field "user.Email" .}}
  <div class="form-group{{if $field.Error}} has-error{{end}}">
    <label for="{{$field.Name}}" class="col-sm-3 control-label">Email address</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="{{$field.Name}}" name="{{$field.Name}}" placeholder="Email address" value="{{$field.Flash}}">
      {{if $field.Error}}
      <label class="control-label" for="{{$field.Name}}">{{$field.Error}}</label>
      {{end}}
    </div>
  </div>
  {{end}}

  {{with $field := field "user.Password" .}}
  <div class="form-group{{if $field.Error}} has-error{{end}}">
    <label for="{{$field.Name}}" class="col-sm-3 control-label">Create a password</label>
    <div class="col-sm-9">
      <input type="password" class="form-control" id="{{$field.Name}}" name="{{$field.Name}}" placeholder="Password" value="{{$field.Flash}}">
			<div class="password-meter">
				<div class="password-meter-bg">
					<div class="password-meter-bar"></div>
				</div>
			</div>
      {{if $field.Error}}
      <label class="control-label" for="{{$field.Name}}">{{$field.Error}}</label>
      {{end}}
    </div>
  </div>
  {{end}}

  {{with $field := field "username" .}}
  <div class="form-group{{if $field.Error}} has-error{{end}}">
    <label for="{{$field.Name}}" class="col-sm-3 control-label">Choose your username</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="{{$field.Name}}" name="{{$field.Name}}" placeholder="Username" value="{{$field.Flash}}" autofocus>
      {{if $field.Error}}
      <label class="control-label" for="{{$field.Name}}">{{$field.Error}}</label>
      {{end}}
    </div>
  </div>
  {{end}}

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <input type="submit" class="btn btn-primary" value="Register">
      <a href="{{url "Application.Index"}}" type="submit" class="btn btn-default">Cancel</a>
    </div>
  </div>
</form>

<hr>

<p>
  Already an existing user? <a href="{{url "Account.Login"}}">Sign in here</a>
</p>

{{template "footer.html" .}}
