{{set . "title" "Register"}}
{{template "header.html" .}}

<h2>Register</h2>

<hr>

<form action="{{url "Account.SaveUser"}}" method="POST" class="form-horizontal" role="form">
  {{with $field := field "user.Email" .}}
  <div class="form-group{{if $field.Error}} has-error{{end}}">
    <label for="{{$field.Name}}" class="col-sm-2 control-label">Email Address</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="{{$field.Name}}" name="{{$field.Name}}" placeholder="Email Address" value="{{$field.Flash}}">
      {{if $field.Error}}
      <label class="control-label" for="{{$field.Name}}">{{$field.Error}}</label>
      {{end}}
    </div>
  </div>
  {{end}}

  {{with $field := field "name" .}}
  <div class="form-group{{if $field.Error}} has-error{{end}}">
    <label for="{{$field.Name}}" class="col-sm-2 control-label">Full Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="{{$field.Name}}" name="{{$field.Name}}" placeholder="Full Name" value="{{$field.Flash}}">
      {{if $field.Error}}
      <label class="control-label" for="{{$field.Name}}">{{$field.Error}}</label>
      {{end}}
    </div>
  </div>
  {{end}}

  {{with $field := field "user.Password" .}}
  <div class="form-group{{if $field.Error}} has-error{{end}}">
    <label for="{{$field.Name}}" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="{{$field.Name}}" name="{{$field.Name}}" placeholder="Choose Password" value="{{$field.Flash}}">
      {{if $field.Error}}
      <label class="control-label" for="{{$field.Name}}">{{$field.Error}}</label>
      {{end}}
    </div>
  </div>
  {{end}}

  {{with $field := field "verifyPassword" .}}
  <div class="form-group{{if $field.Error}} has-error{{end}}">
    <label for="{{$field.Name}}" class="col-sm-2 control-label">Verify Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="{{$field.Name}}" name="{{$field.Name}}" placeholder="Confirm Password" value="{{$field.Flash}}">
      {{if $field.Error}}
      <label class="control-label" for="{{$field.Name}}">{{$field.Error}}</label>
      {{end}}
    </div>
  </div>
  {{end}}

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" class="btn btn-primary" value="Register">
      <a href="{{url "Application.Index"}}" type="submit" class="btn btn-default">Cancel</a>
    </div>
  </div>
</form>

<hr>

<p>
  Already an existing user? <a href="{{url "Account.Login"}}">Sign in here</a>
</p>

{{template "footer.html" .}}