<div class="media well well-sm">

	<span class="pull-left">
		<a href="{{url "Profile.Show" .profile.UserName}}">
			<img class="img-responsive img-rounded" src="{{.profile.PhotoUrl}}" alt="Profile Photo" width="128" height="128" border="0" style="border: 1px solid #666">
		</a>
	</span>
	<div class="media-body">
		<h2 class="media-heading" style="padding-top:4px"><a href="{{url "Profile.Show" .profile.UserName}}" style="color:#333;">{{.profile.Name}} <small>@{{.profile.UserName}}</small></a></h2>
		<p>{{.profile.Summary}}</p>
	</div>

	<div class="baseapp-actions">

		<ul class="nav nav-pills">
			<li{{if eq .action "profile/followers"}} class="active"{{end}}><a href="{{url "Profile.Followers" .profile.UserName}}">Followers <span id="followers" class="badge">{{.profile.AggregateFollowers}}</span></a></li>
			<li{{if eq .action "profile/following"}} class="active"{{end}}><a href="{{url "Profile.Following" .profile.UserName}}">Following <span id="following" class="badge">{{.profile.AggregateFollowing}}</span></a></li>
			<li class="pull-right baseapp-action-right">
			{{if and (not .isOwner) .user}}
				<button type="button" data-href="{{url "Profile.FollowUser" .profile.UserName}}" class="btn {{if .isFollowing}}btn-danger{{else}}btn-primary{{end}} follow">
					<b class="glyphicon glyphicon-user"></b> <span class="text">{{if .isFollowing}}Unfollow{{else}}Follow{{end}}</span>
				</button>
			{{else if .user}}
				<form method="GET" action="{{url "Profile.Settings" .profile.UserName}}">
					<button type="submit" class="btn btn-default">
						<b class="glyphicon glyphicon-cog"></b> <span class="text">Edit Profile</span>
					</button>
				</form>
			{{end}}
		</ul>

	</div>



</div>
