{{append . "moreScripts" "/public/js/jquery.validate.min.js"}}
{{append . "moreScripts" "/public/js/forms/profile.js"}}

{{set . "title" "Edit Profile"}}

{{set . "action" "profile/settings"}}

{{template "header.html" .}}

<h2>Edit Profile</h2>

<hr>

<form action="{{url "Profile.UpdateSettings" .profile.UserName}}" method="POST" id="edit-profile" class="form-horizontal" role="form">
  {{with $field := field "profile.Name" .}}
  <div class="form-group{{if $field.Error}} has-error{{end}}">
    <label for="{{$field.Name}}" class="col-sm-2 control-label">Full Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="{{$field.Name}}" name="{{$field.Name}}" placeholder="Full Name" value="{{if $field.Flash}}{{$field.Flash}}{{else}}{{$field.Value}}{{end}}">
      {{if $field.Error}}
      <label class="control-label" for="{{$field.Name}}">{{$field.Error}}</label>
      {{end}}
    </div>
  </div>
  {{end}}

  {{with $field := field "profile.UserName" .}}
  <div class="form-group{{if $field.Error}} has-error{{end}}">
    <label for="{{$field.Name}}" class="col-sm-2 control-label">User Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="{{$field.Name}}" name="{{$field.Name}}" placeholder="User Name" value="{{if $field.Flash}}{{$field.Flash}}{{else}}{{$field.Value}}{{end}}" data-current-value="{{$field.Value}}">
      {{if $field.Error}}
      <label class="control-label" for="{{$field.Name}}">{{$field.Error}}</label>
      {{end}}
    </div>
  </div>
  {{end}}

  {{with $field := field "profile.User.Email" .}}
  <div class="form-group{{if $field.Error}} has-error{{end}}">
    <label for="{{$field.Name}}" class="col-sm-2 control-label">Email Address</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="{{$field.Name}}" name="{{$field.Name}}" placeholder="Email Address" value="{{if $field.Flash}}{{$field.Flash}}{{else}}{{$field.Value}}{{end}}" data-current-value="{{$field.Value}}">
      {{if $field.Error}}
      <label class="control-label" for="{{$field.Name}}">{{$field.Error}}</label>
      {{end}}
    </div>
  </div>
  {{end}}

  {{with $field := field "profile.User.Password" .}}
  <div class="form-group{{if $field.Error}} has-error{{end}}">
    <label for="{{$field.Name}}" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="{{$field.Name}}" name="{{$field.Name}}">
      {{if $field.Error}}
      <label class="control-label" for="{{$field.Name}}">{{$field.Error}}</label>
      {{end}}
    </div>
  </div>
  {{end}}

  {{with $field := field "verifyPassword" .}}
  <div class="form-group{{if $field.Error}} has-error{{end}}">
    <label for="{{$field.Name}}" class="col-sm-2 control-label">Verify Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="{{$field.Name}}" name="{{$field.Name}}">
      {{if $field.Error}}
      <label class="control-label" for="{{$field.Name}}">{{$field.Error}}</label>
      {{end}}
    </div>
  </div>
  {{end}}

  <hr>

  {{with $field := field "profile.Summary" .}}
  <div class="form-group{{if $field.Error}} has-error{{end}}">
    <label for="{{$field.Name}}" class="col-sm-2 control-label">Summary</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="{{$field.Name}}" name="{{$field.Name}}" placeholder="Introduce yourself!" value="{{if $field.Flash}}{{$field.Flash}}{{else}}{{$field.Value}}{{end}}">
      {{if $field.Error}}
      <label class="control-label" for="{{$field.Name}}">{{$field.Error}}</label>
      {{end}}
    </div>
  </div>
  {{end}}

  {{with $field := field "profile.Description" .}}
  <div class="form-group{{if $field.Error}} has-error{{end}}">
    <label for="{{$field.Name}}" class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
      <textarea name="{{$field.Name}}" class="form-control" rows="6">{{if $field.Flash}}{{$field.Flash}}{{else}}{{$field.Value}}{{end}}</textarea>
      {{if $field.Error}}
      <label class="control-label" for="{{$field.Name}}">{{$field.Error}}</label>
      {{end}}
    </div>
  </div>
  {{end}}

  <div class="form-group">
    <label for="photo" class="col-sm-2 control-label">Photo</label>
    <div class="col-sm-10">
      <img src="{{.profile.PhotoUrl}}" class="img-responsive img-rounded" width="128" height="128" alt="Profile photo for {{.profile.Name}}">
      <div>
        <a href="http://www.gravatar.com" target="_blank">Update your profile photo at Gravatar.com</a>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" class="btn btn-primary" value="Update Profile">
      <a href="{{url "Profile.Show" .profile.UserName}}" type="submit" class="btn btn-default">Cancel</a>
    </div>
  </div>
</form>

<hr>

{{template "footer.html" .}}
